sample_not_songs
sample_songs
test
train
archive
USA5207
USA5199
testing_arena
umap.html
data
imgs
embedding.pkl
ground_truth_arr.npy
reducer.pkl
cluster_labels_arr.npy
predictions_arr.npy
psuedo_labels_arr.npy
lightning_logs
saved_models
spec_arr.npy
imgs
*.png